body {
    background-color: #FEFAF5;
    padding: 0;
    margin: 0;
    scrollbar-width: none;
    overflow-x: hidden;
}

/* HEM */

.navbar {
    position: fixed;
    z-index: 1000; 
    top: 0;
    left: 0;
    width: 560px;
    height: 70px;
    background-color: #F5BB6E;
    border: none;
    border-bottom-right-radius: 50px;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
}

.navbar li {
    display: inline;
}

.navbar a {
    color: black;
    text-decoration: none;
    padding: 15px 30px;
    display: block;
    text-align: center;
    cursor: pointer;
}


main .grid-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
}

.left-side, .right-side {
    flex: 1;
    box-sizing: border-box;
}

.right-side img {
    max-width: 100%;
}


@media (max-width: 100%) {
    .left-side, .right-side {
        flex: 1 1 100%;
    }
}


button {
    padding: 0.75em 1.5em;
    border-radius: 25px;
    border: none;
    background-color: #F5BB6E;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position:absolute;
    top: 650px;
    left: 100px;
}



.slider{
    width: 100%;
    height: var(--height);
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        transparent, 
        #000 10% 90%,
        transparent
    );
}


.slider .list{
    display: flex;
    width: 100%;
    min-width: calc(var(--width)* var(--quantity));
    position: relative;
}

.slider .list .item {
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 100%;
    animation: autoRun 10s linear infinite;
    animation-delay: calc( (10s / var(--quantity)) * (var(--position) - 1) );
}


.slider .list .item .img-slider {
    width: 100%;
}

@keyframes autoRun {
    from {
        left: 100%;}
    to {
        left: calc(var(--width)* -1);}
    }



.social-media {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    background-color: #F5BB6E;
    color: white;
    height: 150px;
}

.social-icon ion-icon{
    font-size: 70px;
    color: #f9f9f9;
    
}

.social-icon ion-icon:hover{
    color: #000;
    transition: ease 0.3s;
}

/* HEM */


/* OM */
.main #saker2 .grid-container {
    display: grid; 
    grid-template-areas: 
        "main main side"
        ;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: auto 1fr auto; 
    height: 100vh; 
    gap: 5px;
}




.main #saker2 .main {
    grid-area: main;
    background-color: #c4c4c4;
    padding: 20px;
    font-size: 18px;
    color: #2d3436;
    border-top-left-radius: 30px ;
}


.main #saker2 .main .grid-container-about {
    display: grid;
    grid-template-areas: 
    "sektion1 sektion1 sektion2"
    "sektion1 sektion1 sketion2"
    "sektion1 sektion1 sektion3";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100%;
    gap: 10px;
    overflow: visible;
}

.main #saker2 .main .grid-container-about .sektion1 {
    grid-area: sektion1;
    background-color: #c4c4c4;
    border: #2d3436 solid;
    border-top-left-radius: 30px;
    transition: ease-in 0.3s;
    align-items: center;
    transform: scale(1);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
}

.main #saker2 .main .grid-container-about .sektion1:hover {
    transition: ease-out 0.3s;
    transform: scale(0.95);
    border-color: #c4c4c4;
    box-shadow: 0 0 30px 10px rgba(270, 150, 150, 6);


}

.main #saker2 .main .grid-container-about .sektion2 {
    grid-area: sektion2;
    background-color: #c4c4c4;
    border: #2d3436 solid;
    transition: ease-in 0.3s;
    align-items: center;
    transform: scale(1);
    box-shadow: #2d3436 5;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);


}
.main #saker2 .main .grid-container-about .sektion2:hover {
    transition: ease-out 0.3s;
    transform: scale(0.90);
    border-color: #c4c4c4;
    box-shadow: 0 0 30px 10px rgba(255, 142, 142, 0.5);

}

.main #saker2 .main .grid-container-about .sektion3 {
    grid-area: sektion3;
    background-color: #c4c4c4;
    border: #2d3436 solid;
    transition: ease-in 0.3s;
    align-items: center;
    transform: scale(1);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);

}

.main #saker2 .main .grid-container-about .sektion3:hover {
    transition: ease-out 0.3s;
    transform: scale(0.90);
    border-color: #c4c4c4;
    box-shadow: 0 0 30px 10px rgba(255, 142, 142, 0.5);
}


.main #saker2 .side {
    background-color: #c4c4c4;
    border-radius: 30px;
    border-top-left-radius: 0;
    text-align:left;
    padding: 20px;
    
}
.main #saker2 .side h1 {
    font-size: 40px;
    font-weight: 800;
}

.main #saker2 .side h3 {
    font-size: 16;
    font-weight: 700;
}

.main #saker2 .side p {
    font-size: 16px;
    font-weight: 400;
    transform: scale(1);
    transition: ease-in 1s;
}

