.Cards {
    max-width: 100%;
    height: auto;
    display: block; 
    margin-top: -130px;
    z-index: -1;

}

.om-kort{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position:absolute;
    width: 100%;
    translate: 0 1000px;
}

