body{
    font-family: helvetica;
}


.navbar{
    font-family:helvetica;
    font-size:25px ;
    font-weight: 100;
}


.Main #hem h1{
    font-weight: bolder;
    font-size: 60px;
    background: linear-gradient(left, #F5BB6E,#EC606C,#EC606C,#4364EF );
    -webkit-background-clip: text;
    color: ;

}