
body{
    background-color: #FEFAF5;
    padding: 0;
    margin: 0;
    scrollbar-width: none;
    overflow-x: hidden;
}

.Header {
    width: 50%;
}

.navbar{
    position: fixed;
    z-index: 1000; 
    top: 0;
    left: 0;
    background-color: #F5BB6E;
    border: #F5BB6E solid;
    border-bottom-right-radius: 50px ;

}

.navbar ul{
    list-style-type:none;
    background: transparent;
    padding: 0;
    margin: 0;
    overflow: hidden; 
}

.navbar a {
    color: black ;
    text-decoration: none;
    padding: 30px;
    display: block;
    text-align: center;
    transform: scale(1);
    transition: ease-in 0.2s;
    cursor: pointer;
}


.navbar li{
    float: left;
}

.Main #hem .grid-container{
        display: flex;
        flex-wrap: wrap; 
        justify-content: space-between;
        align-items: center;

}



.left-side, .right-side {
    flex: 1 1 45%; 
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .left-side, .right-side {
        flex: 1 1 100%; 
    }
    
    .Cards {
        max-width: 100%; 
    }
}

button{
    text-decoration: none;
    padding: 0.5em 1em;
    margin: 0.25em;
    border-radius: 2em;
    border: none;
    outline: none;
    margin-top: 200px;
    margin-left: -415px;
    background-color: #F5BB6E;
    cursor: pointer;
    transition: ease-in 0.2s;
}


section {
    height: 100vh;
}

#om {
    margin-top: 300px;
    background-color: #FEFAF5;
    height: 100vh;
}

