.Cards{
    width: 1000px;
    height: auto;
    z-index: -2;
    margin-top: -573px;
    padding: 0;
    float: right;
    display: flex;
}


.olika-kort{
    margin-left:500px ;
    margin-top: -200px;
    width:1000px;
    height:auto;
}
