body{
    font-family: "inter", sans-serif;
}


.navbar{
    font-family:helvetica;
    font-size:25px ;
    font-weight: 100;
}


.Main #hem .multi-color{
    margin-left: 200px;
    float: left;
    margin-top: 350px;
    font-size: 80px;
    background-image: linear-gradient(
            #F5BB6E 0%,
            #EC606C 24%,
            #EC606C 36%,
            #4364EF 56%,
            #4364EF 69%,
            #41D589 83%,
            #41D589 94%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 550;

}
.Main #om .multi-color{
    margin-left: 200px;
    margin-top: 200px ;
    float: left;
    font-size: 80px;
    background-image: linear-gradient(
            #F5BB6E 0%,
            #EC606C 24%,
            #EC606C 36%,
            #4364EF 56%,
            #4364EF 69%,
            #41D589 83%,
            #41D589 94%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 550;
}

.Straffkort-h{
    translate: 680px 200px;
    
}

.Straffkort-p{
    translate: 680px 190px;
    flex-direction: column;
    justify-content: center;
}

.Vuxen-h{
    translate: 1365px 10px;
}

.Vuxen-p {
    translate: 1365px;
}

.Barn-h{
    translate: 1060px 500px;
}

.Barn-p{
    translate: 1060px 490px;

}